#dis:-webkit-full-screen{
    /*works on chromebooks?*/
    transform: translateX(0%)/*;*/ scale(1.25,1.35);
    /*zoom: 1.25;*/
}
#dis{
    transform: translateX(20%);
}
/*width: 1000px; 
  height: 550px;*/
.cen{
    text-align: center;
}
#downcenter{
    transform: translate(0px,20px);
    text-align: center;
}
.fullsc{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    z-index: 0;
}
#gameheader{
    float: left;
    position: absolute;
    z-index: 1;
}