@import url('https://fonts.googleapis.com/css?family=Lato');

body{
  font-size: 1.5rem;
}
h1{
  margin: 0;
}
canvas{
    position: fixed;
    top: 0;
    right: 0;
    border: 10px solid black;
}
input{
    display: inline;
}
.question{
    display: inline;
}
.question2{
    display: inline;
}
.half{
    width: 50%;
}
