/*imports*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

ti{
    text-align: center;
}
ti > p{
    background-image: url('res/back.png');
    font-size: 50;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Ubuntu', sans-serif;
    -webkit-text-stroke: 2px black;
}
.dark{
    background: #aaaaaa;
}
body{
    background: #dddddd;
}
hr{
    transform: translateY(-40px);
    border-top: 2px black solid;
}
#crafting{
    transform: translateX(40px);
    width: 200px;
}
#crafting>img{
    width: 200;
    height: 200;
}
#items{
    background: grey;
    width: 400px;
    height: 250px;
    transform: translate(300px,-200px);
    overflow: auto;
}
.u{
    border-bottom: 4px black inset;
}
#up{
    transform: translateY(-200px);
}