#engine{
    border: solid 1px black;
    transform: scaleY(-1);
}
#s{
    float: left;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
#stats{
    float: left;
    margin-left: 30px;
    transform: translateX(1000px);
}
#fps{
    color:red;
}